<%= render partial: 'shared/header' %>

<!-- Main -->
<div id="main">

  <header class="major container 75%">
    <h2>We conduct experiments that
      <br />
      may or may not seriously
      <br />
      break the universe</h2>
  </header>

  <header id="villains" class="major container 75%">
    <h2>The Villains</h2>
  </header>

  <div class="box alt container">
    <%= render partial: 'villains/villain', collection: @villains[0..3] %>

    <section class="feature left">
      <div class="content">
        <h3><%= link_to "More Villains", villains_path %></h3>
      </div>
    </section>
  </div>

  <header id="lairs" class="major container 75%">
    <h2>Evil Lairs</h2>
  </header>

  <div class="box alt container">
    <%= render partial: 'lairs/lair', collection: @lairs[0..3] %>

    <section class="feature left">
      <div class="content">
        <h3><%= link_to "More Lairs", lairs_path %></h3>
      </div>
    </section>
  </div>

  <footer class="box container 75%">
    <h3>Stay up to date</h3>
    <p>
    For people who've always wanted to know where the latest Ruby evil lairs are hidden.
    </p>
    <ul class="actions">
      <li><a href="https://twitter.com/RubyVillains" class="button">Follow on Twitter</a></li>
    </ul>
  </footer>

</div>

<%= render partial: 'shared/footer' %>
